* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #0d70b6;
  background: black url("../images/mallLive.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

h1 {
  font-size: 3.5rem;
  margin-left: 25px;
  margin-top: 3vh;
  margin-bottom: 80vh;
  text-align: left;
  -webkit-text-stroke: 1px white;
}

.contact-me {
  font-size: 1rem;
  font-weight: bold;
  width: 350px;
  color: white;
  padding: 10px;
  border: 1px solid lightblue;
  background-color: #0d70b6;
  border-radius: 8px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:link {
  color: navy;
}
