* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: black;
  background: black url("../images/image.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

h1 {
  font-size: 3.5rem;
  margin-left: 25px;
  margin-top: 3vh;
  margin-bottom: 80vh;
  text-align: left;
}

.contact-me {
  font-size: 1rem;
  margin: 0 auto;
  font-weight: bold;
  width: 25%;
  color: white;
  padding: 10px;
  border: 1px solid lightblue;
  background-color: darkblue;
  border-radius: 8px;
  margin-bottom: 70vh;
}

a:link {
  color: lightblue;
}
